<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title})">
    <title>books</title>
</head>
<body>
    <div th:replace="~{template/fragment/header :: common_header}"></div>

    <div class="container">
        <div class="page-header">
            <h1 th:text="#{page.books}">도서 목록</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" th:text="#{page.books}">도서 목록</div>
            <table class="table">
                <thead>
                    <th th:text="#{label.book.id}">ID</th>
                    <th th:text="#{label.book.title}">제목</th>
                    <th th:text="#{label.book.bookType}">종류</th>
                    <th th:text="#{label.book.price}">가격</th>
                    <th th:text="#{label.book.rentYN}">대여 여부</th>
                    <th th:text="#{label.book.rentcount}">대여 횟수</th>
                    <th:block th:if="${#strings.equals(session.SAUTH, T(com.spring.booksystem.domain.user.UserAuth).ADMIN)}">
                        <th th:text="#{label.book.edit}">도서 수정</th>
                    </th:block>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <!-- 도서 ID -->
                        <td th:text="${book.id}">등록된 도서 ID</td>
                        <!-- 도서 제목 -->
                        <td><a th:text="${book.title}" th:href="@{/book/{bookId}/detail(bookId=${book.id})}">등록된 도서 제목</a></td>
                        <!-- 도서 종류 -->
                        <td th:text="${book.bookType.getValue()}">등록된 도서 종류</td>
                        <!-- 도서 가격 -->
                        <td th:text="${book.price}">등록된 도서 가격</td>
                        <!-- 대여 여부 -->
                        <td th:if="${book.rentYN}">대여 가능</td>
                        <td th:unless="${book.rentYN}">대여 불가능</td>
                        <!-- 대여 횟수 -->
                        <td th:text="${book.rentCount}">등록된 대여 횟수</td>

                        <th:block th:if="${#strings.equals(session.SAUTH, T(com.spring.booksystem.domain.user.UserAuth).ADMIN)}">
                            <td><input class="btn btn-primary" th:onclick="|location.href='@{/book/{bookId}/edit(bookId=${book.id})}'|" type="button" th:value="#{button.book.edit}"></td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="text-center">
            <ul class="pagination">
                <li th:class="${!page.prev} ? 'disabled'" th:with="prevAddr=@{/book/books(currentPage=${page.currentPage} - 1)}">
                    <a th:href="${page.prev} ? ${prevAddr}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}" th:class="${i == page.currentPage} ? 'active'">
                    <a th:href="@{/book/books(currentPage=${i})}" th:text="${i}"></a>
                </li>
                <li th:class="${!page.next} ? 'disabled'" th:with="nextAddr=@{/book/books(currentPage=${page.currentPage} + 1)}">
                    <a th:href="${page.next} ? ${nextAddr}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>