<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>books</title>
</head>
<body>
    <div th:replace="~{template/fragment/header :: copy}"></div>

    <div class="container">
        <div class="page-header">
            <h1 th:text="#{page.books}">도서 목록</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" th:text="#{page.books}">도서 목록</div>
            <table class="table">
                <thead>
                    <th th:text="#{label.book.id}">ID</th>
                    <th th:text="#{label.book.title}">제목</th>
                    <th th:text="#{label.book.bookType}">종류</th>
                    <th th:text="#{label.book.price}">가격</th>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.id}">등록된 도서 ID</td>
                        <td><a th:text="${book.title}" th:href="@{/book/{bookId}/edit(bookId=${book.id})}">등록된 도서 제목</a></td>
                        <td th:text="${book.bookType.getValue()}">등록된 도서 종류</td>
                        <td th:text="${book.price}">등록된 도서 가격</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>