<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>First</title>
</head>
<body>
    <!-- header fragment 불러오기 -->
    <div th:replace="~{template/fragment/header :: copy}"></div>
      
      <form method="post" th:action="@{/user/register}" th:object="${user}" class="form-horizontal">
        <div class="container">
          <div class="page-header">
            <h1 th:text="#{page.user.register}">회원 등록</h1>
          </div>

          <div class="row">
            <div class="col-xs-12">

              <div class="form-group">
                <label for="username" class="col-sm-2 control-label" th:text="#{label.user.name}">이름</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" th:field="*{name}" placeholder="이름">
                </div>
              </div>

              <div class="form-group">
                <label for="userage" class="col-sm-2 control-label" th:text="#{label.user.age}">나이</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="userage" th:field="*{age}" placeholder="나이">
                </div>
              </div>

              <div class="form-group">
                <label for="userphone" class="col-sm-2 control-label" th:text="#{label.user.phone}">휴대폰</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="userphone" th:field="*{phone}" placeholder="휴대폰">
                </div>
              </div>

              <div class="form-group">
                <label for="useremail" class="col-sm-2 control-label" th:text="#{label.user.email}">이메일</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="useremail" th:field="*{email}" placeholder="이메일">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div th:each="sex : ${userSexes}" class="radio-inline">
                    <input type="radio" th:field="*{sex}" th:value="${sex.name()}">
                    <label th:for="${#ids.prev('sex')}" th:text="${sex.value}">성별</label>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input class="btn btn-primary" type="submit" value="등록" th:value="#{button.save}">
                  <input class="btn btn-default" type="button" value="취소" th:onclick="|location.href='@{/index.html}'|" th:value="#{button.cancel}">
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>

</body>
</html>