<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template/fragment/head :: common_head(~{::title})">
    <title>users</title>
</head>
<body>
    <div th:replace="~{template/fragment/header :: common_header}"></div>

    <div class="container">
        <div class="page-header">
            <h1 th:text="#{page.users}">회원 목록</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" th:text="#{page.users}">회원 목록</div>
            <table class="table">
                <thead>
                    <th th:text="#{label.user.id}">ID</th>
                    <th th:text="#{label.user.name}">이름</th>
                    <th th:text="#{label.user.sex}">성별</th>
                    <th th:text="#{label.user.age}">나이</th>
                    <th th:text="#{label.user.phone}">phone</th>
                    <th th:text="#{label.user.email}">email</th>
                    <th th:text="#{label.user.auth}">권한</th>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">등록된 회원 ID</td>
                        <td><a th:text="${user.name}" th:href="@{/user/{userId}/edit(userId=${user.id})}">등록된 회원 이름</a></td>
                        <td th:text="${user.sex.getValue()}">등록된 회원 성별</td>
                        <td th:text="${user.age}">등록된 회원 나이</td>
                        <td th:text="${user.phone}">등록된 회원 phone</td>
                        <td th:text="${user.email}">등록된 회원 email</td>
                        <td th:text="${user.auth.getValue()}">등록된 회원 권한</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="text-center">
            <ul class="pagination">
                <li th:class="${!page.prev} ? 'disabled'" th:with="prevAddr=@{/book/books(currentPage=${page.startPage} - 10)}">
                    <a th:href="${page.prev} ? ${prevAddr}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}" th:class="${i == page.currentPage} ? 'active'">
                    <a th:href="@{/book/books(currentPage=${i})}" th:text="${i}"></a>
                </li>
                <li th:class="${!page.next} ? 'disabled'" th:with="nextAddr=@{/book/books(currentPage=${page.endPage} + 1)}">
                    <a th:href="${page.next} ? ${nextAddr}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>