<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>users</title>
</head>
<body>
    <div th:replace="~{template/fragment/header :: copy}"></div>

    <div class="container">
        <div class="page-header">
            <h1 th:text="#{page.users}">회원 목록</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" th:text="#{page.users}">회원 목록</div>
            <table class="table">
                <thead>
                    <th th:text="#{label.user.id}">ID</th>
                    <th th:text="#{label.user.name}">이름</th>
                    <th th:text="#{label.user.sex}">성별</th>
                    <th th:text="#{label.user.age}">나이</th>
                    <th th:text="#{label.user.phone}">phone</th>
                    <th th:text="#{label.user.email}">email</th>
                    <th th:text="#{label.user.auth}">권한</th>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">등록된 회원 ID</td>
                        <td><a th:text="${user.name}" th:href="@{/user/{userId}/edit(userId=${user.id})}">등록된 회원 이름</a></td>
                        <td th:text="${user.sex.getValue()}">등록된 회원 성별</td>
                        <td th:text="${user.age}">등록된 회원 나이</td>
                        <td th:text="${user.phone}">등록된 회원 phone</td>
                        <td th:text="${user.email}">등록된 회원 email</td>
                        <td th:text="${user.auth.getValue()}">등록된 회원 권한</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>